<html>
       <head>
		<title>Employee Management|Create</title>
        <head>

	<body BGCOLOR=green>
		<form method="Post" action="/store">
		<table>
			<tr>   	
                <td>id:</td>
		<td><input type="number" name="id"/></td>
                 </tr>
			
    		<tr>   	
                <td>Ename:</td>
		<td><input type="text" name="ename"/></td>
                 </tr>
    		<tr>
              	<td>Iname:</td>
	        <td><input type="text" name="iname"/></td>
		</tr>
                 <tr>
  		<td>Detail:</td>
		<td><input type="text" name="detail"/></td>
		 </tr>
 		<tr>
                <td>Gender:</td>
		<td><input type="text" name="Gender"/></td>
                 </tr>
    		<tr>
                <td>Age:</td>
		<td><input type="number" name="age"/></td>
                 </tr>
    		<tr>
                <td>Salary:</td>
		<td><input type="number" name="salary"/></td>
                 </tr>
    		<tr>
                <td>Doj:</td>
		<td><input type="number" name="doj"/></td>
                 </tr>

      		 <tr>
		 <td><input type="submit" name="send" value="Create"/></td>
		 </tr>
             </table>		     
		</form>	
	</body>
</html>